[2015-06-18 10:14] dethi opened #1 "Only raise exceptions in development env"

[2015-06-18 10:15] dethi opened #2 "Nested objects/relations"

[2015-06-18 10:16] dethi opened #3 "Restrict indexing to a subset of data"

[2015-06-18 10:17] dethi opened #4 "Search capacitfy on backend"

[2015-06-18 16:13] dethi opened #5 "Add tags capacity"

[2015-07-02 13:27] Kmaschta opened #6 "django-algolia project"
Hi,

Since two months, I am working on a Django version of Algolia client.
His goal is simple: index (on the fly like [haystack](http://haystacksearch.org/)) the models that has a specified setting, allow to search by model and consume responses very easily.

[code]

[code]

[code]

With a little bit of features like pagination, for work with Django Rest Framework.

[code]

You can see all of that

[2015-07-02 17:39] dethi commented on #6
Hi,

Happy to learn that you have build an extension :+1: . As I see, there is some majors differences between the two projects. But I'm sure we can collaborate together!
Maybe we can organize a call/skype/chat/whatever to discuss about your expectation, collaboration, etc.
What do you think?

[2015-07-02 18:59] Kmaschta commented on #6
I'll send you an email soon, I can't wait to start. :ok_hand:

[2015-07-04 13:06] #3 closed

[2015-07-04 13:06] #4 closed

[2015-07-04 13:06] #5 closed

[2015-07-04 20:28] arnaudlimbourg opened #8 "Make re-indexing configurable"
Hello,

The current implementation of reindex does a `Model.objects.all()`. I am talking about this [line](https://github.com/algolia/algoliasearch-django/blob/master/src/models.py#L215)

It would nice to have either this accept a different queryset so we could pass our own or have a different method.

Do you think that would make sense?

[2015-07-05 09:19] dethi commented on #8
The problem is that the package is "state less". So, it would be difficult to ensure which record is currently indexed or not. I have the same problem with `should_index` ([see the comment](https://github.com/algolia/algoliasearch-django/blob/master/src/models.py#L173-L178)). I need to find a trick or maybe use the database.

Also, can you give me an example of when you would like to use a configu

[2015-07-05 14:40] arnaudlimbourg commented on #8
I hope the pull request shows what I am trying to achieve. Basically, I'd like to control more precisely what I want to index.

I would like to use the facilities provided by this package and since the reindex method does what I need to, except for the queryset.

[2015-07-06 08:35] #8 closed

[2015-07-07 08:45] #6 closed

[2015-08-10 10:24] maxiloc opened #13 "Handle foreign key automatically"
Might be the same as #2

[2015-08-10 10:46] dethi commented on #13
Yep. The problem is to detect that it is a foreign key. I'm still investigating the Django's core to find a way to do it.

[2015-08-10 12:30] dethi commented on #13
Is it a request from a customer?

[2015-08-10 12:31] maxiloc commented on #13
yep

[2015-08-11 09:17] arnaudlimbourg commented on #13
Starting in Django 1.8 you have the [Meta API](https://docs.djangoproject.com/en/1.8/ref/models/meta/). My understanding is you could use ``MyModel._meta.get_field(name)`` to find more info about the field.

In previous Django versions you have to use the [old api](https://docs.djangoproject.com/en/1.8/ref/models/meta/#django.db.models.options.Options.get_field) but the documentation explains it b

[2015-08-24 04:11] PhilippeTrounev opened #14 "Line 68: helper.py - Python3.4 quote_from_bytes() expected bytes"
Got unicode vs bytes error  running the demo in python 3.4. Fix is below... Stack trace attached..

68 def safe(e):
    """Returns a safe string for URL."""
    return quote(encode(e), safe='')

FIX
68 def safe(e):
    """Returns a safe string for URL."""
    return quote(encode(str(e)), safe='')

 manage.py loaddata contacts.json
Traceback (most recent call last):
  File "manage.py", line 10, in

[2015-08-27 08:31] qcaron opened #15 "Support for LANGUAGE_CODE in commands"
Do you plan to [support LANGUAGE_CODE in manage.py commands](https://docs.djangoproject.com/en/1.8/howto/custom-management-commands/#management-commands-and-locales)? It would be nice to be able to add/update/delete for all of the project's locales.

[2015-09-10 21:39] Amrit0991 opened #16 "AttributeError: 'int' object has no attribute 'rstrip' when saving model"
Hi guys,

I have an algolia index set up as below (`index.py`):
[code]

The model's `pk` is `id`, which is the Django default. Now, Algolia is able to index and apply the settings just fine, but when I try to save a new `ActivityModel`, I get the following error: `AttributeError: 'int' object has no attribute 'rstrip' `

The stack trace takes me all the way down to your `safe` method that is tryin

[2015-09-10 21:42] dethi commented on #16
Hello @Amrit0991,
Could you please upgrade the package `algoliasearch`. We have fixed this issue in the version 1.6.6 :)

[2015-09-10 21:45] Amrit0991 commented on #16
haha thank you!

[2015-09-10 21:46] #16 closed

[2015-09-10 21:46] dethi commented on #16
You're welcome :smile:

[2015-10-05 15:03] cabello commented on #13
Yes, I recommend using the Meta API for Django 1.8, `get_fields` will return all model fields, and `is_relation` property will tell you if it's a foreign key.

[2015-10-30 01:18] jdotjdot commented on #13
I think this is the same as this issue and #2--I'm not even able to get through the installation instructions in the README because the first time I run `python manage.py algolia_reindex`, I get a `KeyError` that looks like it's due to trying to call a `RelatedManager` (from a `ForeignKey`) simply because it's callable:

[code]

The `attr` in question that is being called is the reverse `RelatedMa

[2015-10-30 01:41] dethi commented on #13
Hey @jdotjdot,
Your issue certainly comes from this [line](https://github.com/algolia/algoliasearch-django/blob/master/src/models.py#L48). I think you can fix it by creating a "model index" with the `fields` defined to what you really need to index (take a look at the end of the Quick Start).

There is a lot of bugs fix and new features in the `develop` branch that need documentation. I will try t

[2015-11-22 05:12] thetylerhayes commented on #13
Just wanted to say I was able to get this working thanks to @dethi's comment ^^ but I'll also throw my hat in the ring that it was frustrating when I was setting this up and thinking I'd get up and running quickly and having a roadblock pretty much immediately in the form of an ambiguous exception I then had to Google. :) Thanks for making a great product overall though!

[2016-01-29 19:34] birakattack opened #19 "Allow specific models to be reindexed"
- Currently all models have to be synced everytime `python manage.py algolia_reindex` is called.
- I would like to be able to make the following call: `python manage.py algolia_reindex <MODEL_NAME>` such that only the model passed will be reindexed with Algolia

[2016-02-02 12:21] arnaudlimbourg commented on #19
@birakattack you can pass the ``--model`` parameter.

In the code there is:
[code]

[2016-02-03 02:01] dethi commented on #19
:+1: just need to document it (too much hidden features in this project :disappointed:)

[2016-02-03 09:47] arnaudlimbourg commented on #19
Added to #20

[2016-02-05 22:08] birakattack commented on #19
Running the command `python manage.py algolia_reindex --model <MODEL_NAME>` fails with the response:
[code]

I am using version `algoliasearch-django==1.2.3`

Am I doing something wrong?

[2016-02-05 23:08] dethi commented on #19
Which version of Python? Django?
With Python2.7 and Django 1.9.2, it works:

[code]

[2016-02-05 23:18] birakattack commented on #19
I am using python 2.7.9, however, I believe its my django version (1.7) is causing the issue.

Thank you so much for following up I really appreciate it!

I'm going to close the issue now.

[2016-02-05 23:20] dethi commented on #19
Strange, normally we are supporting Django 1.7+. I will investigate..

[2016-02-05 23:22] birakattack commented on #19
Thanks very much!!

[2016-02-06 00:59] dethi commented on #19
Django changed in 1.8 the way it manages arguments for custom admin command. I don't really see a clean way to support the old and new way. Django 1.7 is deprecated, so I don't really want to hack something for an old version.
Sorry, but I think you will have to update to at least Django 1.8.

[2016-03-28 12:00] redox opened #21 "Ability to configure replicas"
In the `rails` integration, we can define the replicas configuration inside the `algoliasearch` configuration block. Would be great to have the same.

[2016-04-06 14:36] xiaolin commented on #2
+1

[2016-04-15 15:34] xiaolin opened #22 "Default batch_size set to None for django 1.7"
Hi, I am on django 1.7, and I cannot use the `--batchsize` command to explicitly set a batch_size.

I'm trying to index hundreds of thousands of entries, and they're being indexed one at a time.

The function `def reindex_all(self, batch_size=1000):` has a default batch_size of 1000, but gets overwritten in the management command.

[code]

I think a simple fix is to not override the default batchs

[2016-04-15 16:10] #22 closed

[2016-04-15 16:14] dethi commented on #22
Check the fix in the new version 1.2.4 and let met know! :)

[2016-04-15 16:25] xiaolin commented on #22
Thank you, works great!

[2016-04-22 21:17] calitidexvii commented on #13
Is there a workaround to include fields from the ForeignKey model within the index? For example, using @thetylerhayes model:

`class CommentIndex(AlgoliaIndex):
    fields = ('user.first_name', 'raw_message')`

[2016-04-22 21:23] dethi commented on #13
Hi @calitidexvii
Not for now sorry. The issue is that during object update, these fields are not necessary available and will need to be fetched from the database.

[2016-04-22 21:33] calitidexvii commented on #13
Thanks @dethi
Based on your research, do you think it's something that could be added if you had the help? For example:

[code]

Where fk_fields would perform the DB lookup and append to the object?

[2016-04-23 05:47] calitidexvii commented on #13
For anyone else needing a workaround, I was able to use callables within the model for the index.

[code]

Then the index:

[code]

This isn't perfect and may not work in all situations, but it seems to be sufficient when you need to manage user access with [secured API keys](https://www.algolia.com/doc/python#security--user-api-keys).

[2016-06-21 09:39] phoebebright opened #23 "Multiple models in same index won't work"
I have decided to put all my models into one index and have added an attribute, modelname:

[code]

This works fine for automatic updates but using the management command I'm finding that the index is cleared between models regardless of whether I use a straight reindex or reindex --model as reindex clears the existing index first.

Is it possible to do a reindex without a clear first?

[2016-06-21 18:40] dethi commented on #23
Not yet, but I will think about it. The next release is planned for this summer.

[2016-06-22 13:24] phoebebright commented on #23
Thought I could be clever and add this hack as a temporary fix, but doesn't seem to make a difference, still overwritting with each model.  Do you have any quick hackish solution to this?

    def reindex_all(self, batch_size=1000):
        '''Reindex all records.'''
        if self.settings:
            self.__tmp_index.set_settings(self.settings)
            logger.debug('APPLY SETTINGS ON %s_tm

[2016-06-22 15:07] dethi commented on #23
This doesn't work because it clears the temporary index. Indeed, the process of reindexing is as follow:
- clean a temporary index, "%s_tmp" % index_name
- push all records to the temporary index
- move the temporary index to the index (override)

By doing this way, there is no downtime for all search during the reindexing.

If you don't care about this, you can replace the function with this one:

[2016-06-22 21:14] phoebebright commented on #23
Perfect.  Thank you.

[2016-07-01 14:47] phoebebright commented on #23
Did a bit of playing around and added an -noclear option in this commit: https://github.com/phoebebright/algoliasearch-django/commit/b20b73fb10500b8ae701618ee7bef011aab2a85d

However, not sure of the implications of doing this if you want multiple index...

[2016-09-21 18:51] abendig commented on #13
Would love to hear if there is any news as to when this might be available -- or how best to help make this a reality.

This is an increasingly important use case for us. One example: Indexing User profile data, where some information may be in the User table and other information is in a UserProfile table.

[2016-09-21 19:19] calitidexvii commented on #13
@abendig Due to the issue @dethi mentioned, I don't think there are any plans to extend the integration to handle relations.

Do you have a working solution? If not, you could try my workaround above - using callables to get the necessary data. Due to increasingly complex relations, I ultimately ended up dumping the Django integration and writing custom methods using only the Python integration. I

[2016-09-21 19:29] calitidexvii commented on #13
@abendig I just noticed, this was added to the [2.0.0 milestone](https://github.com/algolia/algoliasearch-django/milestone/2) in June 2016, but I don't see a timeline for it.

[2016-09-21 22:01] dethi commented on #13
Hi,
Sorry. I don't work anymore at Algolia so it's only a side project for me.
The milestone 2.0.0 has a due date, end of October, and I will fulfil it in time.
I hope it won't be too late for you!

[2016-09-21 22:25] abendig commented on #13
Thanks a lot for the update. I do need to make this functionality work one way or another in the next couple weeks. How far along is this particular feature? Is it possible/useful to get involved in some way to drive the development of this forward?

[2016-09-22 14:12] brendan-rius commented on #2
+1

[2016-09-25 13:10] brendan-rius commented on #2
Any ETA on this one?

[2016-09-25 13:16] dethi commented on #2
Same as the 2.0.0 milestone.

[2016-09-25 13:18] dethi commented on #13
I would appreciate if you could provide me a django app that fakes your use case.

[2016-10-10 16:20] Ignipro opened #24 "Multiple indexes for the same Model"
Hi, I'm trying to build a search feature with two type of permissions on the model fields... Is there a way to index the same Model with multiple indexes (in which I specify the configuration hence the field to show and to index) ?

When I define

[code]

I get  `RegistrationError: <class 'my_app.models.MyModel'> is already registered with Algolia engine`

[2016-10-10 18:15] dethi commented on #24
Hello,

It's not possible (because of this https://github.com/algolia/algoliasearch-django/blob/master/src/registration.py#L46-L48) and, unfortunately, I have no work around for you in mind... 😞

I will try to find a solution for the next release.

[2016-10-10 18:21] dethi commented on #24
But maybe your use case can be resolved by using several API keys with specific security settings. If you need help, don't hesitate!

[2016-10-11 08:21] Ignipro commented on #24
@dethi Yes I would really appreciate a little help :) Do you mean that by using several API keys on the same index with specific security settings, I can configure which field will be viewable or indexed depending of the user (i.e. the api key). Thanks a lot !

[2016-10-11 13:28] dethi commented on #24
Not exactly but you can filter viewable records: https://www.algolia.com/doc/guides/security/api-keys#how-it-works and https://www.algolia.com/doc/api-client/python/api-keys#generate-key

But I don't know if it's enough for you, let me know!

[2016-10-11 13:43] Ignipro commented on #24
Thanks for response ! First I also thought about filtering records but it doesn't really apply in my case since the instance viewable/searchable by the two type of users are the same. I just want to specify which field they have access to. Maybe I could use the filtering tricks and register each object instance two times on Algolia (with field values transformed as property equals to the value or

[2016-10-11 15:51] dethi commented on #24
Currently, the register class rely heavily on the fact that one model can only be registered one time. I think it will need a lot of rethinking to fix the issue.

However I just found a good solution, that I think is the right way to do it.

You need to create and register a `MetaIndexModel` that delegates work to others `IndexModel`, instead of registering your two `IndexModel`. See below for an

[2016-10-11 15:54] dethi commented on #24
With this solution, you can:
- index a model in multiple index
- route model to a specific index based on your own rules
- etc

[2016-10-12 11:42] Ignipro commented on #24
Thanks @dethi :) this is exactly what I was looking for and it works perfectly ! If others want to use this feature, you will find below the same code with just some typo mistakes corrected :

1) First define all your indexes that will work on the same model :
[code]
2) Then define your model meta index which will aggregate all the indexes you want to use with your model
[code]
3) Finally register

[2016-10-12 12:12] dethi commented on #24
I will close the issue after adding this to the documentation!

[2016-11-27 06:41] adavanisanti commented on #2
What is the due date for 2.0.0?

[2017-01-19 09:30] SaadBinShahid opened #116 "python manage.py algolia_reindex - Killed"
Hi, I'm having some trouble indexing.

[code]

Can someone please help me.

[2017-01-20 06:56] SaadBinShahid commented on #116
I've fixed this issue. The issue seems to be with my server, it was really-low on memory. By restarting the server I was able to index Products.

[2017-01-20 06:56] #116 closed

[2017-01-20 15:20] SaadBinShahid opened #122 "How do I index the data that was in the database, before I integrated it with algoliasearch."
How do I index the data that was in the database, before I integrated it with algoliasearch.

It only index when object is created or updated. How to index the data that was entered before algoliasearch integration ?

[code]

[2017-02-05 17:12] m-vdb opened #146 "Handle multiple geolocations"
Hi there,

It looks like this SDK doesn't support multiple geolocations whereas the API does. [The code](https://github.com/algolia/algoliasearch-django/blob/master/src/models.py#L155-L159) wouldn't be too difficult to adapt, something like that would work:
[code]

Do you accept PRs for this project?

[2017-02-05 17:14] m-vdb opened #147 "Add support for non-callable for should_index attribute"
Hi there,

I think it would be more convenient to handle both callable and non-callable attributes on the model instance. For example, I have a model field that is a boolean and I would like to use its value for the `should_index` parameter. I think it wouldn't be too hard too do. Would you be open to the idea?

(Note: this can be done easily for the `should_index` parameter, and given your `Algol

[2017-02-05 19:11] redox commented on #146
Ah yes good point, this is something we've added later on and never updated the django lib.

Yes, and I'll be happy to merge it 👍

[2017-02-05 21:54] m-vdb commented on #146
ok i'll work on it today or tomorrow then, thanks!

[2017-02-07 14:04] #146 closed

[2017-02-22 08:12] ornoone opened #169 "support for setting_changed while testing"
the AlgoliaEngine use the current settings at import time to build the «algolia_engine» global variable.

the problem is that while testing, we can require to stop the auto indexing for a given test with somthing like this :

[code]

in the current version, the `override_settings` has absolutly no effect and the client is not updated nor the post_save and post_delete signals is removed.

to use al

[2017-02-23 06:36] m-vdb commented on #147
what do you think @PLNech ?

[2017-02-23 09:58] PLNech commented on #147
Hey @m-vdb, thank you for your feedback.
Indeed supporting non-callable attributes on `should_index` should be easy, I'm on it 🙂

[2017-02-23 10:00] PLNech commented on #169
Hi @ornoone, thank you for this feedback!
I didn't know about Django's `override_settings`, let me have a look at it and see how we could leverage it in Algolia to make your testing simpler 🙂

[2017-03-16 11:05] #147 closed

[2017-04-24 13:05] PLNech commented on #19
Closed as `wontfix`.

[2017-04-24 13:05] #19 closed

[2017-04-24 13:06] PLNech commented on #13
Closed as stale without an answer from OP.

[2017-04-24 13:06] #13 closed

[2017-04-24 13:16] PLNech opened #202 "ManyToMany fields is not updated correctly"
From a customer's e-mail:

## Context

## Problem

## Potential solution

[2017-04-28 15:05] #1 closed

[2017-04-30 06:02] quytang opened #205 "Support replica settings"
I came into this issue when trying to implement the sorting feature.
I need to create an index for each sorting criteria.
[code]
Unfortunately, it doesn't work and throws the error
[code]
I also need to config the ranking/custom ranking function for each replica index but couldn't find the way to deal with it.
Thanks

[2017-05-23 15:00] PLNech commented on #205
Hi @quytang, thank you for this report and all my apologies for the long response time!

I'm currently exploring this issue and was able to reproduce it, I will keep you updated here as I progress.

[2017-05-24 13:58] PLNech commented on #205
I found the bug and fixed it in 39431e0, released in [`1.3.2`](https://github.com/algolia/algoliasearch-django/releases/tag/1.3.2).

Let me know if your issue persists after you update 🙂

[2017-05-24 13:58] #205 closed

[2017-05-24 14:09] PLNech commented on #14
Fixed in [algoliasearch-client-python's `fd9593`](https://github.com/algolia/algoliasearch-client-python/commit/fd95937c49207feede05ff912182749ee96c4691).

[2017-05-24 14:09] #14 closed

[2017-05-25 02:36] quytang commented on #205
thanks @PLNech

[2017-06-23 22:13] ElPicador opened #209 "Add the option `disable_indexing`"
In the rails integration it's possible to disable_indexing for certain env: https://www.algolia.com/doc/api-client/rails/testing/

Could it be possible to have the same for django?

[2017-06-26 15:02] PLNech commented on #209
Thanks for the report, I'll see if it is possible!

[2017-06-27 14:18] PLNech commented on #122
Hi @SaadBinShahid, thank you for your report and my apologies for the slow reply!

I tried to reproduce your situation, but calling `algolia_reindex` indexed objects created before:

## Steps to reproduce
- Create a django project
- Create a model class `Foo`:
[code]
- Add algoliasearch-django and the appropriate settings (see [detailed instructions](https://github.com/algolia/algoliasearch-django

[2017-06-27 14:18] #122 closed

[2017-06-27 14:32] PLNech commented on #15
Hi @qcaron, thank you for this suggestion and sorry we took a long time to come back to you!

After reading the `Management commands and locales` section you linked to, I'm not sure to fully understand what you are asking for. Could you describe how you would interact with such a localised command to add/update/delete your project's records?

[2017-06-27 15:05] PLNech commented on #169
Since [`v1.4.0`](https://github.com/algolia/algoliasearch-django/releases/tag/1.4.0), you can use [`self.settings()`](https://docs.djangoproject.com/en/1.11/topics/testing/tools/#django.test.SimpleTestCase.settings) to override settings:

[code]

[2017-06-27 15:05] #169 closed

[2017-06-27 15:08] PLNech commented on #209
Since [`v1.4.0`](https://github.com/algolia/algoliasearch-django/releases/tag/1.4.0), you can use [`self.settings()`](https://docs.djangoproject.com/en/1.11/topics/testing/tools/#django.test.SimpleTestCase.settings) to disable indexing:

[code]

[2017-06-27 15:08] #209 closed

[2017-06-27 15:13] PLNech commented on #21
Hey @redox, today you can define replicas for each index as such:
[code]
Is this what you are looking for? I'm not sure what you mean by "`algoliasearch` configuration block".

If you are you talking about the `settings.ALGOLIA` configuration block, I don't understand what you expect with replicas defined for any index. Unless you mean a global replica suffix?  🤔

[2017-06-29 15:44] arnaudlimbourg opened #211 "Error when unicode_literals is used"
Hello,

When using ``from __future__ import unicode_literals`` on a custom ``index.py``file the indexing breaks.

As far as I can see this is because https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/models.py#L96 expect an ``str`` instance whereas ``unicode_literals`` makes it a ``unicode`` one.

I have removed the ``unicode_literals`` for now as I have not looked i

[2017-06-29 17:12] PLNech commented on #211
Hi @arnaudlimbourg, thanks for reporting this issue!

Indeed we didn't check for unicode strings in python2. I just pushed [`v1.4.1`](https://github.com/algolia/algoliasearch-django/releases/tag/1.4.1) which ships a fix for this issue. Can you update our library and let me know if this is resolved?

[2017-07-04 14:50] #24 closed

[2017-07-04 15:01] PLNech commented on #23
As of today we do not recommend to put objects structured differently in the same index, so I'll close this feature request.

@phoebebright: if the workaround mentioned does not work for you and you still would like such a feature, feel free to reopen this!

[2017-07-04 15:01] #23 closed

[2017-07-04 15:03] PLNech commented on #21
_Closing in absence of a reply, feel free to reopen the issue if you have something to add._

[2017-07-04 15:03] #21 closed

[2017-07-04 15:03] PLNech commented on #15
_Closing in absence of a reply, feel free to reopen the issue if you have something to add._

[2017-07-11 07:14] neeti25 opened #212 "Problem in generating API key."
I tried registering me models to Algoliasearch and i get this traceback:

`(venv)tas@tas-System-Product-Name:~/projects/schoolmgmt/mysite$ python manage.py algolia_reindexTraceback (most recent call last):  File "manage.py", line 22, in     execute_from_command_line(sys.argv)  File "/home/tas/projects/schoolmgmt/venv/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 363,

[2017-07-11 13:31] #212 closed

[2017-07-12 09:04] PLNech commented on #212
Hi @neeti25, you can find your api keys in your [Algolia dashboard](https://www.algolia.com/api-keys).

[2017-07-13 09:39] neeti25 opened #213 "Indexing a OneToOne User field only takes its username attribute"
I have made two models Student and Teacher by extending Django's User Model in OneToOne fields student and teacher respectively. When i register my Student and Teacher models to algolia, it only takes the username attribute of User in student(or teacher). I am not able to access other fields of User model like first_name, last_name etc. in algolia. How can i access these fields?

[2017-07-13 13:48] PLNech commented on #213
Hi @neeti25, thank you for reporting this! I wonder if it's not the same issue we have with `ManyToMany` fields in #202.

Let me investigate this, I'll keep you updated here of my progress!

[2017-07-14 05:48] neeti25 commented on #213
Sure.

[2017-08-10 20:34] oliver-zhou commented on #2
Is there a way to handle nested objects yet?

[2017-08-21 13:27] #2 closed, assigned to nobody

[2017-08-22 08:57] PLNech commented on #213
@neeti25: We just documented a way to index `ManyToMany` fields in 0f70028ad664620c5341fb83c097596c41d6771a, can you check the documented approach and let me know if it works for your usecase? 🙂

[2017-10-01 05:34] imdiegoestevez opened #222 "algolia_reindex not found"
Hi!
For some reason none of the algolia commands are recognized by django (at least in my computer). I have django 1.11, python 3.5.2, algoliasearch installed, algoliasearch-django installed.
Do you have any clue how to fix this?
`python manage.py algolia_reindex
Unknown command: 'algolia_reindex'
Type 'manage.py help' for usage.
`

[2017-10-01 21:42] Haroenv commented on #222
Hey @imdiegoestevez, could you create a repository where we can see this issue? It’s pretty tough to debug an issue like this without having the same setup

[2017-10-04 13:00] PLNech commented on #222
Hi @imdiegoestevez, can you reproduce this with [algolia/algoliasearch-django-example](https://github.com/algolia/algoliasearch-django-example)? Just follow the [README's steps](https://github.com/algolia/algoliasearch-django-example#dependencies) and let us know if the same issue happens :)

[2017-10-04 16:39] arnaudlimbourg commented on #222
@imdiegoestevez without more info it is difficult but I would look into `INSTALLED_APPS`, does it contain `'algoliasearch_django'`?

[2017-10-14 20:38] imdiegoestevez commented on #222
I was missing `'algoliasearch_django'` in `INSTALLED_APPS`. Thank you all very much for helping and big thanks to @arnaudlimbourg

[2017-10-14 20:39] #222 closed

[2017-11-06 15:11] PLNech opened #225 ""Record at the position 0 is too big" exception when pushing cyrillic content"
See [reported issue on the python client](https://github.com/algolia/algoliasearch-client-python/issues/307).

[2017-11-21 12:08] johngriebel opened #226 "Attribute Error When (Re)Indexing a Model"
Hi,
This issue is similar to #13, but definitely distinct in my opinion.

I've followed the [setup instructions](https://www.algolia.com/doc/api-client/django/setup/) for a model (`User`) in our [application](https://github.com/3Blades/app-backend). Here is the definition for my Index class:
[code]

When I uncomment the `fields` line, things work as expected. However, if I remove that line in an a

[2017-11-23 14:22] PLNech commented on #226
Hi @johngriebel, thanks for your report and investigation!

Indeed the problem is this `all_model_fields` initialization, and the solution you propose looks good to me and would simplify using Algolia with Django. We would be pleased to welcome your contribution to this project 🙂

If you want to submit a PR, could you:
- [ ] Implement the fix you propose
- [ ] Check if the same can be done for `al

[2017-11-23 14:27] PLNech commented on #13
For future readers, the readme now contains a [section on indexing relations](https://github.com/algolia/algoliasearch-django#field-preprocessing-and-related-objects).

[2017-11-24 13:43] PLNech commented on #225
The issue [happens on python2.7, regardless of the Django version](https://travis-ci.org/algolia/algoliasearch-django/builds/306709097):
![Test matrix results, Python2 failing](https://user-images.githubusercontent.com/1821404/33212980-b13f07f0-d125-11e7-9c9d-b59e42d50003.png)

This is due to [Python2's _defaulting to ASCII standard if no other encoding hint are given_](https://www.python.org/dev/

[2017-11-24 13:43] #225 closed

[2017-11-27 11:28] johngriebel commented on #226
@PLNech Great! Hopefully I'll be able to get something together shortly.

[2017-11-30 16:59] qcaron opened #228 "Tags has same value for each item in index"
I provide a callable for the index' tags but it seems the tag value is only computed once. Indeed, when checking my index in Algolia admin, all items have the same tags (which is 1 item).

I am using Python 2.7.10 and Django 1.8.4 with algoliasearch==1.14.1 and algoliasearch-django==1.5.1.

Here is my code:

    # models.py

    class JobOffer(models.Model):
        reference_code = models.Foreign

[2017-11-30 17:18] qcaron commented on #228
That was quick! I found the issue: it lies in algoliasearch_django.models.AlgoliaIndex.get_raw_record:

            if self.tags:
                if callable(self.tags):
                    self.tags = self.tags(instance)
                if not isinstance(self.tags, list):
                    self.tags = list(self.tags)
                tmp['_tags'] = self.tags

should be

            if self.tags:

[2017-11-30 17:33] PLNech commented on #228
Hi @qcaron, thanks for reporting this issue!

You're right about the source of the issue. It's up to you, I can do the change on my own or let you PR if you want the credit for this contribution! In this case, please send it with a test in `test_indexing.py` and I'll be happy to review it 😉

[2017-12-01 02:23] dethi opened #229 "feature: autodiscover index config"
Discover and load all modules (`index.py` for example) automatically. The module is responsible of defining the AlgoliaIndex and calling the `register(..., ...)` function.

It's a common pattern. For beginner, it will look like Django Admin. Super easy!

To discover module, it simple as that:
https://github.com/dfunckt/django-rules/blob/8765833c4474e7b6890627a58034966abaa2f403/rules/apps.py#L8-L11

[2017-12-01 16:37] qcaron commented on #228
I am willing to do a PR but I have an error with the tests:

    AlgoliaException: Index test_User_django does not exist

I manually created this index in my Algolia Dashboard but it did not change anything. Do you have any clue what is going on?

[2017-12-01 17:19] PLNech commented on #228
Hi @qcaron, glad to have you contributing :)

This is surprising, you should not have to create anything. Checking out the code in `master` and running `tox` works for me:

[code]

Could you push your code in your fork so I can see if it's related to your changes?

You can also check [your dashboard](https://www.algolia.com/apps/dashboard)'s `Latest Operations` section to check the order of calls

[2017-12-06 11:33] qcaron commented on #228
Sorry for the delay, I had to deliver by fixing code in site-packages (shame on me).

I created a second user in the setUp method. I would then like to get the records in the index (there should be two now) but calling `index.raw_search()` produces the error. Any idea how can I check tags for all records in the index?

[2017-12-06 13:52] qcaron commented on #228
@PLNech It turned out that using only `raw_search` was not useful to fulfill the tests.

Leaving `models.AlgoliaIndex.get_raw_record` as-is made the tests fail. After I made my changes to it, tests did not give an error anymore. It is using `get_raw_record` on a second test User.

I will do the pull request in a couple of minutes.

Thanks for your help!

[2017-12-07 15:09] PLNech commented on #228
@qcaron sorry for the delay in my replying, you were right to use `get_raw_record` directly! I'm reviewing the PR now 🙂

[2017-12-07 16:09] qcaron commented on #228
@PLNech Nice! Thank you!

[2017-12-07 16:09] #228 closed

[2017-12-12 12:13] PLNech commented on #226
Closed by #227/#233. Thanks @johngriebel!

[2017-12-12 12:13] #226 closed

[2018-01-08 04:33] alexhayes commented on #202
Using Django 1.11.7 an approach, albeit not great one, for doing this is as follows;

[code]

Note that you should also set `AUTO_INDEXING` to `False` and also set `auto_indexing=False` when registering your `Package` model.

You probably also want to pay special attention to Django's change log or have some good tests that ensure when you upgrade Django this continues to work.

[2018-01-09 16:04] PLNech commented on #213
Closing as 0f70028 introduces a solution and @neeti25 didn't answer the previous comment, suggesting the issue is resolved.

[2018-01-09 16:04] #213 closed

[2018-01-10 19:02] oliver-zhou opened #237 "Algolia prevents running or testing django offline"
Running and testing locally is difficult when I have an unstable/no internet connection, yielding this exception:

There should be a mechanism to automatically swallow these errors. It seems these exceptions are run as warnings instead of exceptions in production, this behavior should be allowed to persist when DEBUG=True still if given a flag in settings or something.

I can make a pull request i

[2018-01-11 10:06] PLNech commented on #237
Hi @oliver-zhou, thanks for your report! There is already such a mechanism, but the readme lacks its description.

- `DEBUG` is set to the value of your Algolia setting `RAISE_EXCEPTIONS` and defaults to Django's `settings.DEBUG`.

See the `ChangeLog` of V1.3.0:
[code]

And the code of `settings.py` defining `settings.DEBUG`:
[code]

If you want to disable the raising of exceptions, simply set RAI

[2018-01-11 10:07] #237 closed

[2018-01-11 10:10] PLNech commented on #237
Documented in 7ce0caffee5c8cb5880439b6cbc275691f5a4afd.

[2018-01-12 14:54] PLNech opened #238 "algolia_reindex command resets the ranking formula."
From [support](https://secure.helpscout.net/conversation/503753260/47217/?folderId=1106372):

[2018-01-24 13:57] MaximeThoonsen commented on #202
Thanks @alexhayes for your message ! I'll add our use case if it can help someone else.

We have a One-To-Many relation and I want to have everything in a single object. We have this class Benefits linked to another class named Vendors.

`class Benefits(models.Model):
    id_vendor = models.ForeignKey(
        'Vendors', models.DO_NOTHING, related_name='benefits', db_column='id_vendor')
`
When we

[2018-01-29 15:02] qcaron commented on #202
It worked like a charm for me. Only thing I changed is the `obj: Package` to `obj` (using Python 2.7, Django 1.8.18 so you know).

The `AUTO_INDEXING = False` should go in your project settings and `auto_indexing=False` should go in your `apps.XXXAppConfig.ready` method.

Maybe we should update the package so it is fine without this work-around??

[2018-01-30 09:43] PLNech opened #240 "Support multiple geolocations per record"
Reported by Jason from a customer :

[2018-02-05 14:50] noclat commented on #238
What's the status on this one? A customer just pointed out again the ranking reset bug. Shouldn't it be fixed?

[2018-02-05 15:00] PLNech commented on #238
Normally fixed since [1.5.4](https://github.com/algolia/algoliasearch-django/releases/tag/1.5.4), can you check the customer's current version?

[2018-02-05 15:25] noclat commented on #238
They're on 1.5.4, and they still experience the issue. So I keep that issue open and let's reach back [#517675705](https://secure.helpscout.net/conversation/517675705?folderId=1106372) when fixed!

[2018-02-05 17:06] abakar commented on #238
Hey guys. I actually told about that on January 16 and have got no answer untill today:
<img width="1243" alt="screenshot" src="https://user-images.githubusercontent.com/1752096/35817995-eff0f0ee-0aaf-11e8-88d9-7964ca7ea6cd.png">

[2018-02-06 14:52] PLNech commented on #238
Hi @abakar, it seems your follow-up email slipped through last week. Sincere apologies for that.

I spent the day investigating further, see the open PR #241 which adds two tests that seem to confirm expected behavior:
- If you define settings in your [registered `AlgoliaIndex`](https://github.com/algolia/algoliasearch-django#quick-start), those are applied when you reindex
- If you don't set spec

[2018-02-07 03:02] Haizzz commented on #238
We just started using this library and everytime we reindex our ranking formula is still kept but the synonyms and query rules get wiped. We created a hotfix specific to our use case that export the query rules and synonyms, reindex then import them again. The code is below. Hope this helps
[code]

[2018-02-07 13:31] abakar commented on #238
Hi @PLNech,

You are right — I have index settings with "searchableAttributes" and "attributesForFaceting" keys. I've checked now "algolia_reindex" command without any settings and it didn't erase ranking formula.

Thank you!

[2018-02-08 14:27] PLNech commented on #238
Hi @Haizzz, thanks for your report! Indeed, rules and synonyms were not handled.
I addressed this in b14bc87, we'll release an update today 🙂

[2018-02-13 18:48] jdotjdot opened #242 "Turning off Algolia for tests"
How do we turn off `algoliasearch-django` for tests? The way signals are registered, and the registration of models to the engine in `apps.py` has been breaking our test suite--we need a simple way to turn Algolia indexing on and off within tests with just a simple setting.

Is there any way to do this? The only way I can see is the `with self.settings(...)` modification in the docs, which isn't s

[2018-02-14 13:08] #238 closed

[2018-02-14 13:18] PLNech commented on #238
Fixed in release [1.5.5](https://pypi.python.org/pypi/algoliasearch-django/1.5.5).

[2018-02-22 19:02] PLNech commented on #242
Hi @jdotjdot, thanks for the feedback!

Indeed, this is something we didn't cover until now. I pushed [an update](https://github.com/algolia/algoliasearch-django-example/commits/master) to our demo app to showcase how you can turn off `algoliasearch-django` in your tests:

- Update your `settings.py` to add a setting for when tests are running:
[code]

- In your `AppConfig`, only register Algolia

[2018-02-22 19:02] #242 closed

[2018-02-28 00:44] dbinetti opened #244 "Install fails on pipenv 10.1.0"
[code]

[2018-02-28 01:54] dbinetti commented on #244
Conflict with other library. Not algolia

[2018-02-28 01:54] #244 closed

[2018-03-06 18:58] thornycrackers opened #245 "Enhancement: Faceting for Models?"
Thanks for building this useful package. I looking through the docs tryig to fing something about faceting and wasn't able to find anything. Is this a feature that could be added?

[2018-03-08 16:33] PLNech commented on #202
Hi there, sincere apologies for the slow reply.

That's a nice solution to this issue, with the same concern as @alexhayes that as it relies on behavior from a `contrib` class, we'll need to take extra care in making sure this is thoroughly tested.

I added this to the [`minor`](https://github.com/algolia/algoliasearch-django/milestone/3) milestone, we'll address it in the next release. @julienbou

[2018-03-08 16:44] PLNech commented on #245
Hi @thornycrackers, thanks for this feedback!

Improving the faceting handling in this project is definitely something we will consider, although I'm not sure what will be the timeline for implementing this feature.

This being said, your opinion is very valuable as it will help us shape the design of this feature! Can you share your thoughts about:
- **What** would you like to be able to do with

[2018-03-15 16:40] thornycrackers commented on #245
So this is the code that I ended up using to make this happen myself. You guys will have a better idea on how to make a cleaner API for it than I.

[code]

That way when I run `algolia_applysettings` I will be able to have my replica indexes created. The search is added so that I can do raw searching with the ability to sort. I think these are pretty important, I would guess most people will incor

[2018-03-16 09:28] PLNech commented on #245
Thanks for sharing this! So if I understand correctly, you're asking for better replicas support in Django, and especially supporting search with sort parameter by using the appropriate replica. This is a good idea, we'll definitely consider it for our next iterations on this project!

Just to make sure I don't get you wrong, this is unrelated to [`Faceting`](https://www.algolia.com/doc/guides/sea

[2018-03-16 20:24] thornycrackers commented on #245
I've updated the title, I can see that being a bit confusing. Sorting is what I meant originally but thought it was called Faceting. I see those are two separate things. You've understood correctly about the better sorting and replica support.

[2018-03-19 16:50] PLNech commented on #245
Thanks for the clarification! We'll update you here as we make progress on this feature 🙂

[2018-03-28 16:36] PLNech opened #249 "Faster tests by using wait_task"
Today, several of our tests are slowed down by forced sleeping:

[code]

We could replace the `sleep` call by leveraging [`wait_task`](https://www.algolia.com/doc/api-reference/api-methods/wait-task/). This requires:
- [x] exposing it on the Client and not only on the index, see PR algolia/algoliasearch-client-python#343
- [ ] facading it in `AlgoliaEngine`
- [ ] Because the taskID is returned in

[2018-04-16 21:28] dbinetti opened #251 "Turn off auto-indexing for certain operations"
Hi, is it possible to turn off auto-indexing temporarily?  (Like signal disabling?)

I run a nightly operation that runs a denormalization that touches every row, but does not affect fields that are reflected in my search index.  However, since I'm touching every row it counts as an operation, and I'm quickly using up my allotment for the month.  is there a way to turn off indexing immediately pri

[2018-04-18 17:30] PLNech commented on #251
Hi @dbinetti, thanks for suggesting this! I definitely see how it could be useful.
We just need to consider how we could implement this thoughtfully, I'll tag it as an `enhancement` and we'll add it to the roadmap for this integration :)

[2018-04-18 17:35] PLNech commented on #251
@julienbourdeau: if that works for you, I propose you give a try to implementing this.

- Check out how we implemented auto-indexing via [Signals](https://docs.djangoproject.com/en/2.0/topics/signals/), e.g. [`post_save`](https://docs.djangoproject.com/en/2.0/ref/signals/#post-save).
- Propose a design that would let a user conditionally disable it
- If you're confident in the design, you can PR a

[2018-04-24 09:28] m-vdb commented on #240
FYI I already use multiple geolocations with `algoliasearch-django` in production. You simply have to put a list of locations in `geo_field` and that works.

[2018-04-25 12:29] PLNech commented on #240
@m-vdb: Thanks for this feedback! We'll document this in the readme.

@julienbourdeau: I added the missing `Documentation` tag for issues that can be resolved by better documenting existing functionality. I believe it will make sense for all our clients/integrations.

[2018-04-25 12:31] #240 closed

[2018-05-05 18:20] clemfromspace opened #252 "Dynamic way to use multiple indexes per models"
Hello there :)

Recently, I found myself in the needs to add multiple indexes per models, but in a dynamic way.

I used [django-hvad](https://github.com/KristianOellegaard/django-hvad) for the model translations, and needed to "route" the models to a different index based on the `language_code` field of the model.

Do you know how if there is a way I could achieve this ?

[2018-05-14 13:10] julienbourdeau commented on #252
I don't think it's possible today but it's definitely something that we should handle.

I'm thinking we could have a new method `get_index_name` and move this logic into it: https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/models.py#L164-L171 then everyone would be able to override it. What do you think?

[2018-05-14 13:17] PLNech commented on #252
I would use the same convention as for [`tags`](https://github.com/algolia/algoliasearch-django#tags-1): if it's a member just take it, if it's a `callable` call it everytime we need its value. This way we don't introduce a new `get_xxx` method, we just replace the `xxx` field by a callable :)

[2018-05-14 13:31] clemfromspace commented on #252
The `tags` solution looks good to me, if I understand correctly and if it gets implemented I should be able to do the following for a django model:

[code]

If that's the case, it will be perfect!

I will gladly help implementing this :)

[2018-05-16 22:44] clemfromspace commented on #249
A complete different idea, why not just mock the call to the `algoliasearch` python package ?

Example:

[code]

This way, we avoid unnecessary calls to the API and avoid waiting for the answers.

While I do think calling the API and check the responses are necessary in some cases (ie the indexes settings parameters checks), I don't think it's necessary in this kind of tests since the `algoliasear

[2018-06-19 05:57] julienbourdeau commented on #249
`wait_task` is now exposed on the client, but note that you need to pass the index name along with th taskID. See commit here: https://github.com/algolia/algoliasearch-client-python/pull/373/commits/88f9b98c9b4d5b383f0f138a2a8d74cf0b23d8b6

[2018-06-19 14:27] qcaron opened #262 "register decorator gives TypeError"
Hi guys,

I defined this index by following the instructions found in the documentation:

**index.py**
[code]

Here are my models.py and settings.py for this test case:

**models.py**
[code]

**settings.py**
[code]

I am getting this stacktrace when running `./manage.py algolia_applysettings`:

[code]

I am using:
- Python 3.6.3
- Django==2.0.6 (same with Django==1.11.13)
- algoliasearch==1.17.0
-

[2018-06-19 15:20] qcaron commented on #262
Following the approach given on [algoliasearch-django-example](https://github.com/algolia/algoliasearch-django-example) fixed it. I used that one before but the current documentation mislead me.

Another thing is that it is the name of the model used by the index is displayed when using the `algolia_applysettings` command for example. It would be great to have a full index name (with prefix and su

[2018-06-20 08:51] julienbourdeau commented on #262
Hi @qcaron,

Thanks for your valuable feedback. We'll look into it and update documentation. Unfortunately, for now, our doc is still manage with a private repository so you cannot edit it. This `README.md` is generated from our doc on algolia.com/doc.

[2018-06-20 15:01] clemfromspace commented on #262
Hi @qcaron and thank you for reporting this,

As stated by @julienbourdeau, the doc is indeed wrong:
You should import the `register` decorator from the `algoliasearch_django.decorators` module and not from the main `algoliasearch_django` module.

So your code of the `index.py` should looks like this:

[code]

Really sorry for this, we will update the documentation right away :)

[2018-06-21 13:41] qcaron commented on #262
Thanks for your answers and for reacting promptly  🤘

[2018-06-21 15:38] qcaron opened #264 "Proxy method for related (M2M) field giving previously saved values"
I followed the documentation to get proxy methods to work but when I save an object with related fields (M2M), the values list reflect what was in the related field before saving.
This is most likely because an instance is saved (thus the `post_save` signal is triggered) before its related fields are saved (`m2m_changed` signal).

Following and slightly adapting the documentation, I have the follo

[2018-06-22 07:57] qcaron commented on #264
I found a solution for this as I finally figured out how I did the trick in an old project.

It would look like this for the above `Account` and `Contact` models:

**apps.py**
The magic here comes from `auto_indexing=False` when registering the Algolia index.

[code]

**admin.py**
Here, I overrride [`django.contrib.admin.ModelAdmin.response_add`](https://docs.djangoproject.com/en/dev/ref/contrib/a

[2018-06-22 15:54] qcaron commented on #15
Hi @PLNech

How funny it is to come back to this ticket 3 years after... I now have more clue about this!

Please have a look [here](https://docs.djangoproject.com/en/1.11/howto/custom-management-commands/#management-commands-and-locales). This is for Django 1.11 which is the version I currently use but from 1.7 up to 2.1: "By default, the BaseCommand.execute() method deactivates translations".

*

[2018-06-25 08:08] clemfromspace commented on #264
Hi again @qcaron !

Thank you for your feedback,
If I understand correctly there are two issues there:

- The `m2m` relationships are not correctly up-to-date in the Algolia index (I guess we will need the to listen to the `m2m_changed` signal as you are suggesting).
- The `algoliasearch_django.decorators.register` is not accepting the `auto_indexing` parameter as the `register` method do.

Do I c

[2018-06-25 08:10] clemfromspace commented on #262
Closed via f753b04

[2018-06-25 08:10] #262 closed

[2018-06-27 10:33] qcaron commented on #264
You definitely got it correctly @clemfromspace 😉

I also believe it will not be straight forward to find an elegant and simple solution for the `m2m` problem. I will be busy in the next 4 weeks but if I find time to investigate, I will put my findings in this thread and make my changes available in a fork.
This `m2m` issue indeed seems to duplicate [#202](https://github.com/algolia/algoliasearch-d

[2018-06-28 08:40] qcaron commented on #15
@PLNech @clemfromspace
I cannot re-open this issue as stated here: https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github (last bullet point of selected answer)

Could you do that for me? Thanks! 🙂

[2018-06-29 13:15] PLNech commented on #15
Hi @qcaron, glad to see you again here after such a long time :slightly_smiling_face:

Issue reopened, I'll let @clemfromspace and @julienbourdeau check it out as they are now leading the works in this integration :)

[2018-08-06 05:06] dbinetti commented on #251
So perhaps this is a dumb question, but shouldn't I be able to do this myself?  I know the process to disable signals, but for whatever reason I can't load the receiver `def __post_save_receiver(self, instance, **kwargs):` in `registration.py`.  Is there some reason for this?

[2018-08-06 09:53] clemfromspace commented on #251
Hello @dbinetti

I managed to disable the signal by doing the following:

[code]

Note the strange `_AlgoliaEngine__post_save_receiver` name of the method, coming from the [
Name mangling](https://docs.python.org/3/tutorial/classes.html#private-variables)

Let me know if that help :)

[2018-08-20 12:28] clemfromspace commented on #251
Hi again @dbinetti,

I opened #266, I think it should solve the issue your are having, let me know what you think :)

[2018-08-20 13:16] dbinetti commented on #251
Yep, perfect @clemfromspace.  This is *exactly* what I had in mind!

[2018-08-22 10:09] #251 closed

[2018-08-27 08:42] vvo opened #267 "When reindexing, the _tmp suffix can cause issues with index restricted keys"
When reindexing, the code adds _tmp to the constructed index name:
https://github.com/algolia/algoliasearch-django/blob/ce9447c6a45749f55b48f27bb1c4d58710ce480a/algoliasearch_django/models.py#L163-L173

Some users are using dedicated environment keys where there's an index restriction like "only for indexes named *_dev". Which mean that on reindexing the key won't be able to reindex because of the

[2018-08-27 13:48] clemfromspace commented on #251
@dbinetti Hey there, we just released the version 1.7.0 containing the context decorator :)
I am working on updating the documentation right now, but you can already upgrade and test it like below:

[code]

[2018-08-27 20:07] dbinetti commented on #251
Yep, works perfectly. thanks!

On Mon, Aug 27, 2018 at 6:48 AM Clément Denoix <notifications@github.com>
wrote:

[2018-09-19 13:35] browniebroke opened #270 "Support auto-indexing for proxy models"
### Description

We started using `algoliasearch-django` recently and we had to compute some fields to be indexed. In our case, the [current solution to pre-process fields](https://github.com/algolia/algoliasearch-django#field-preprocessing-and-related-objects) wasn't suitable as there is a conflict in field names. The model to index already had method/property used in our Django app, and we wante

[2018-09-25 09:46] m-vdb opened #271 "Feature request: Support distinct option for de-duplication"
### Description

Documentation: https://www.algolia.com/doc/guides/ranking/distinct/#distinct-for-de-duplication

I am hitting the 10kb limit for records and I need to be able to support de-duplication. Here is my use case:

- I have one model that contains a list of locations
- for some models, this list contains a lot of locations (some thousands)
- when indexing my model, I want to push 1 recor

[2018-10-04 13:36] julienbourdeau commented on #270
Thank you @browniebroke for taking the time to write up this proposal. I'm not a Django expert but from what I understand, proxy class should be reindexed automatically if the  underlying model is modified. So I'm not really in favor of passing a new arg or option, your solution 3 seems to be the best but I'm not sure I understand the details.

@clemfromspace What do you think?

[2018-10-15 13:32] m-vdb commented on #271
no one?

[2018-10-17 09:19] clemfromspace commented on #271
Hey @m-vdb,

Sorry for the late answer, we will definitely accept a PR for this case.

Had a quick look at your fork, the global logic looks good so far :)

Happy to review your PR when it's ready!

[2018-10-26 16:20] jaredmcdonald opened #273 "possible to set replica settings in config?"
hello! i know it's possible to configure replicas in the index settings, but is there a way to configure settings on those replicas declaratively?

i.e., is there a algoliasearch-django equivalent of this:

[code]

(from https://www.algolia.com/doc/guides/ranking/sorting/#algolia-replica-indices)

thanks! let me know if i can clarify in any way.

[2018-11-09 15:51] m-vdb commented on #271
hey @clemfromspace I finally got the time to finish my work on the PR. I have coded integration tests to validate that everything works. IMO, what's missing:
- validate my API: is it clear enough for other developers (method names, comments, etc...)?
- documentation in the README: I can do it once you validate the API
- real life tests for the `AlgoliaIndexBatch`: I haven't tested it yet with real

[2018-12-04 17:57] gregsadetsky commented on #249
Would it be a good idea, in `registration.py`'s `save_record` and `delete_record` methods, to return the results that those functions get from `models.py`'s `save_record` and `delete_record` methods ?

i.e. [here](https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/registration.py#L126) replace `adapter.save_record(...)` by `return adapter.save_record(..)`? That way, a

[2018-12-04 20:15] gregsadetsky commented on #249
It'd also be great if `models.py`'s `delete_record` returned the result it got from `delete_object` (see [here](https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/models.py#L321)). I did this locally, and then overrode `save_record` and `delete_record` in my AlgoliaIndex child class, to add optional calls to `self.wait_task` (when running in test mode).

Should I open

[2018-12-04 22:40] joshua-s opened #275 "Aggregators"
- Django version: 2.1
- Algolia Django integration version: 1.7.0
- Algolia Client Version: 1.18.1
- Language Version: 3.7

### Description

It is a very common use case to want to search multiple models in the same query. The other Algolia framework clients are implementing this feature, under the name Aggregators ([algolia/scout-extended](https://github.com/algolia/scout-extended#%EF%B8%8F-aggre

[2018-12-04 23:00] gregsadetsky opened #276 "Bug: auto_indexing=False not taken into account when calling algoliasearch_django.register"
- Django version: 2.1.3
- Algolia Django integration version: 1.7.0
- Algolia Client Version: 1.17.0
- Language Version: 3.6.6

### Description

`registration.py`'s `register` accepts an `auto_indexing` keyword ([definition](https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/registration.py#L50)). Unfortunately, setting it to `False` has no effect as:
- the `AUTO_INDE

[2018-12-04 23:02] gregsadetsky opened #277 "Suggestion: accept auto_indexing=False in registration decorator"
It would be nifty if `decorators.py`'s `register` ([definition](https://github.com/algolia/algoliasearch-django/blob/master/algoliasearch_django/decorators.py#L37)) accepted the same `auto_indexing` keyword argument as `registration.py`'s `register`.

See also #276 regarding `register` and `auto_indexing`.

[2019-01-10 09:56] tusharsrivastava commented on #270
Hi @browniebroke Thank you very much for this code submission. I've implemented your logic in one of my projects and I'm afraid to say that it is not working.
I updated the model and it did not sync as expected. I'm not sure what exactly is the problem here. Can you guide me through?

[2019-01-10 10:30] browniebroke commented on #270
I'm afraid I stalled a bit on the pull request, unfortunately. I hit some blocks, and it might be more complicated than I initially thought. The third option doesn't seem doable after all.

It would be a huge help if I could get the CI to run @clemfromspace @julienbourdeau, I cannot get the tests to run locally and not having any sort of feedback is like coding blindfolded.

[2019-01-12 17:35] sameerkumar18 opened #278 "Algolia doesn't handle Django Atomic Transactions"
- Django version: 2.0.6
- Algolia Django integration version: 1.7.0
- Language Version: Python 3.6.5

Consider - Auto-Index to be True
### Description
While in a Django atomic transaction, if anytime save() is called - algolia is instantly updated. If due to some exception that atomic transaction fails, Algolia would still be updated with invalid values that do not match the database.

### Steps T

[2019-01-14 14:54] nunomaduro commented on #278
Thanks for bring this up to our attention, we will take a look soon as possible.

[2019-01-17 10:19] nunomaduro commented on #273
Hi @jaredmcdonald,

There is no equivalent of `setSettings` in replicas the `algoliasearch-django`. A workaround may be to override the `set_settings` method on your AlgoliaIndex:
[code]

What do you think? 👍

[2019-01-20 18:39] alexanderatallah commented on #273
@nunomaduro This looks helpful! Looks like we could iterate through each replica, init a new index for each one, and save per-replica rankings

[2019-01-20 18:42] nunomaduro commented on #273
Exacly!

[2019-01-20 18:42] #273 closed

[2019-04-03 18:18] ramusus opened #280 "latest version of algoliasearch (2.0.0b3) is incompatible with 1.7.0"
[code]

Link to CI:
https://travis-ci.org/cinemanio/backend/builds/514989723?utm_source=github_status&utm_medium=notification

[2019-04-04 08:34] #280 closed

[2019-04-04 08:40] nunomaduro commented on #280
This issue has been fixed on the `algoliasearch-django-1.7.1`. Can you please try again?

[2019-07-01 13:44] lggwettmann commented on #270
Same problem here, but I'm not sure what to call from the original model's save and delete signals?

AlgoliaEngine.__post_save_receiver(instance) ?

[2019-07-09 21:49] lggwettmann commented on #270
Is there anyone who can help me fix this or at least give a hint? Any help is appreciated.

[2019-07-25 07:20] rashad opened #283 "Version conflict with algoliasearch"
- Django version: 2.2.2
- Algolia Django integration version: 1.7.1
- Algolia Client Version: 1.20.0
- Language Version:

### Description
I'm trying to create a [secured API Key](https://www.algolia.com/doc/api-reference/api-methods/generate-secured-api-key/) in my project and came to realize that the default import suggested in the doc that goes like
[code]
lead to an error when running the devel

[2019-07-25 18:29] nunomaduro commented on #283
The `algoliasearch` 2.x is not supported in the Django integration at the moment. But you can use the 1.x to generate a secured api key: https://github.com/algolia/algoliasearch-client-python/blob/277d653fc3907f50db439429822b4b7c7fc1a581/algoliasearch/client.py#L761.

Please tell me if you need me to prepare the snippet for you.

[2019-07-27 13:26] rashad commented on #283
Thanks a lot for your help! 🙏

If you have some time yes I'd love a snippet I'm pretty sure I'm going to miss some best practice tips 😊

[2019-07-29 12:14] chloelbn commented on #283
Hi @rashad,

I'm taking over from @nunomaduro. Here is an example code snippet to generate a secured api key and instantiate a client with it

[code]

Don't hesitate and reach back to us if something is not clear!

Have a good day.

[2019-07-29 12:14] #283 closed

[2019-08-01 14:47] sameerkumar18 commented on #278
Any update here @nunomaduro ?

[2019-08-04 17:58] rashad commented on #283
Hello @chloelbn

I would not want to bother you more than needed but I didn't manage to make things work correctly as per what you suggested.

I looked a bit in the old Algolia Python Client's PRs and it looks like the `generate_secured_api_key` method had been introduced in the `v2` PR as [shown here](https://github.com/algolia/algoliasearch-client-python/pull/404/files#diff-7f562a9699361d4bfb1e6

[2019-08-06 17:37] jaredmcdonald opened #284 "support multiple_queries"
The Python API client has a [`multiple_queries`](https://www.algolia.com/doc/api-reference/api-methods/multiple-queries/) method; is it possible to add support to that to the Django wrapper?

It's definitely possible to just drop down a level and use the Python client directly, but it would be convenient if this library could provide an API like this (mirroring the [example provided in the documen

[2019-08-06 18:16] jaredmcdonald commented on #284
Actually, I'm realizing that "aggregators" (as requested in #275) are more useful for what we're trying to do (have results from multiple indices come back in the same list). In any event, I'll leave this issue open in case anyone else is looking for `multiple_queries` support.

[2019-10-23 11:36] yhoiseth commented on #271
What's the status on this?

[2019-10-24 10:13] TomKlotzPro opened #285 "Add Splitter feature"
### Description
One of our customer had some trouble with large records.
https://github.com/KalobTaulien/wagtail-algolia-example-code/issues/1

I was wondering if we cannot add our splitter feature from our laravel integration.

### Steps To Reproduce

- Splitte large records

[2019-11-03 17:15] yhoiseth commented on #285
Hi,

Have you had a chance to look into this? I'm asking because I'm trying to plan our work ahead. As mentioned before, make sure to let me know if you'd like some input :)

[2019-11-03 17:19] nunomaduro commented on #285
cc @maxiloc

[2019-11-11 08:25] yhoiseth commented on #285
Following up on this. A status update would be very useful :)

[2019-11-11 14:46] nunomaduro commented on #285
cc @TomKlotzPro

[2019-11-12 08:48] TomKlotzPro commented on #285
Not for the moment sorry, it's still an open discussion. I'll update the status once we have more information. @nunomaduro

[2019-11-20 03:17] kasai-mitsuru opened #286 "'disable_auto_indexing()' connects receiver even if AUTO_INDEXING is False"
- Django version: 2.2.1
- Algolia Django integration version: 1.7.1
- Algolia Client Version: 1.20.0
- Language Version: Python 3.6.8

### Description
`disable_auto_indexing()` in `decorators.py` makes connection even if `AUTO_INDEXING = False` .

In `AUTO_INDEXING = False` environment, once `disable_auto_indexing()` is called, AlgoliaEngine will try to index when model saving.

[code]

I think it

[2019-12-15 04:56] Akinduko commented on #283
@rashad how did you eventually resolve this issue?

[2019-12-15 05:01] Akinduko commented on #283
Hi @nunomaduro  @chloelbn ,

Can you please assist, it seems the algoliasearch module has no search_client method,

ERROR: algoliasearch-django 1.7.1 has requirement algoliasearch<2.0,>=1.0, but you'll have algoliasearch 2.1.0 which is incompatible.

The suggested option also does not work, I get below error.

AttributeError: module 'algoliasearch.client' has no attribute 'generate_secured_api_key

[2019-12-15 15:18] nunomaduro commented on #283
What version of `algoliasearch` you have installed?

[2019-12-19 22:06] rashad commented on #283
@Akinduko I stood with the following config
[code]

Tbh I did not solved the issue and thus did not generate api keys (yet). The snippet provided by @chloelbn did not work for me so I kept the traditional config and ended up creating a `viewable_by` property to my models to handle permissions. I then filter by this `viewable_by` attribute for autocomplete search as per
[code]

[2020-01-16 12:28] nunomaduro opened #287 "Support `Django 2.2 LTS`"
Django 2.2 is its newest Long Term Support release and we haven't tried this package with it yet.

**Actions**: Test this package with Django 2.2, performs the code adjustments, and upgrade the test suite to test against all django versions.

[2020-01-16 14:54] pbx commented on #287
Thanks for creating this issue.

[2020-01-31 13:08] tusharsrivastava opened #288 "Support SQL View based Facade Models to Trigger Auto Sync"
- Django version: 1.10.8
- Algolia Django integration version: 1.5.1
- Algolia Client Version: 1.14.1
- Language Version: 3.6.6

### Description
I have created a SQL View which joins the data as per requirement of Algolia Indexing. I need to know how will Algolia Index Sync whenever the data in one of the contributing model is added, updated, or deleted. Do I've to manually trigger it from a signa

[2020-02-19 08:44] jamescmacey opened #289 "Typo in README.md > Geo-Search"
### Description
Line two of the example for Geo-Search in README.md reads:
[code]
should read:
[code]
(`max_length`, not `max_lenght`)

[2020-02-19 09:21] nunomaduro commented on #289
Thanks!

[2020-02-19 09:21] #289 closed

[2020-03-01 13:25] soulshake commented on #271
I would like to use this functionality. Is there any plan to merge #274?

[2020-04-07 00:43] viperfx opened #290 "Django ORM query optimisations"
- Django version: Django==2.2.8
- Algolia Django integration version: algoliasearch-django==1.7.1
- Algolia Client Version: algoliasearch==1.20.0
- Language Version: english

### Description
The `rebuild_index` script is creating many queries when building the index.

The following stats were observed when profiling queries:

When testing locally, an Index with local fields on the same model (No F

[2020-04-07 00:51] viperfx opened #291 "Algolia reindex script tmp index move takes a long time."
Django version: Django==2.2.8
Algolia Django integration version: algoliasearch-django==1.7.1
Algolia Client Version: algoliasearch==1.20.0
Language Version: english

### Description
When running the reindex script, I notice the following happening:

- 5k records pushed to a `_tmp` index
- There are more than 5k records, but only 5k is added. Why is that?
- The real index configured gets added rec

[2020-04-07 13:01] PLNech commented on #290
Hi @viperfx, thanks for sharing this!

Unfortunately, we don't have anymore the resources to develop further this integration. We're keeping it online for reference, but are now focusing our efforts on the [Python API Client](https://www.algolia.com/doc/api-client/getting-started/install/python/?language=python).
Considering your setup, the best option might be to use this client and implement the

[2020-04-07 13:07] viperfx commented on #290
Oh I see - that is really disappointing to hear, especially after investing time into setting it up. Please consider adding a note at the top of the README about this. I have only spent a small amount of time to figure out this library is not a good fit for production, for others it may take a lot longer.

I will look into the python client. Is there a resource guide on creating an indexer script?

[2020-04-08 11:20] nunomaduro commented on #290
@viperfx I am sorry for that. You are going to address your feedback on the next couple of months making the readme and your documentation clear how the deprecation of this integration.

On the time of this writing, there is no guide that combines Django with our Python API Client.

But you can refer to the Python API Client documentation to get some tips on how index your data with Algolia: [algo

[2020-04-08 11:20] #290 closed

[2020-05-23 15:12] benhowes opened #292 "Auto camel casing with Graphene"
I wanted to post this here mainly as an example of how to set up a means to have your algolia index with camel-cased names so that it's more friendly to the frontend. If there is a better way to do this, then I'd be very happy to hear it though!

Ideally, I think there would be the ability to inject a Callable which can be used to transform key names at index time, probably during the creation of

[2020-08-08 20:00] dbinetti opened #295 "register decorator not working"
- Django version: 3.1
- Algolia Django integration version: 1.7.1
- Algolia Client Version: 1.20.0
- Language Version:

### Description
The @register decorator does not appear to work.

### Steps To Reproduce

Use the @register decorator on an Index.
Run Django-admin algolia_reindex

Expect: "The following models were reindexed" with counts.

Get:  Nothing.

[2020-08-08 20:44] dbinetti opened #296 "disable indexing decorator not working"
- Django version: 3.1
- Algolia Django integration version: 1.7.1
- Algolia Client Version: 1.20.0
- Language Version:

### Description
The @disable_auto_indexing decorator does not appear to work.

### Steps To Reproduce

Use the @disable_auto_indexing on a function.

Expect: No reindexing

Get:  Indexing.

--
This one hurts, because it cost me $100 to reindex fields that didn't need to be indexe

[2020-10-10 04:32] jdotjdot opened #298 "Relies on stale version of Algolia Python library"
This library appears to rely on a very old version of the Algolia Python library. As a result, you cannot simultaneously have this library installed and the newer version of the library, meaning you also cannot follow the docs on Algolia's website for the Algolia Python client if you're using this library.

Is this still maintained? The Algolia [docs](https://www.algolia.com/doc/framework-integrat

[2020-10-22 08:34] watsonhaw5566 commented on #245
@thornycrackers Hello,sir. How can i using your ReplicaExtendedIndex in Django View?

The 'raw_search_sorted' instead of 'raw_search' right?

[2020-10-22 14:13] watsonhaw5566 commented on #295
Pleaes using Django>2.2,"algoliasearch-django" not don't support Django3

[2020-10-22 15:11] watsonhaw5566 commented on #273
@alexanderatallah
@nunomaduro

Hello，How can i use "MyModelIndex1"  is My Django View.

I wannt to using diffrent replica_name to sored my index ranking.

My code now like that.
[code]
I'm using another 'replica_name_index' but not work.

so i wanna asking you how to do that .Thanks your very much.

[2020-10-23 03:55] watsonhaw5566 opened #300 "How to sorted replicas_index dynamic？"
- Django version: Django 2.2
- Algolia Django integration version: algoliasearch-django1.7.2
- Algolia Client Version: 1.20.0
- Language Version:Python3.7.4

### Description
I don't know how to sort my replicas_index result.I find the issues,just find that [issues273](https://github.com/algolia/algoliasearch-django/issues/273).
But that way need each time to used `manage algolia_applysettings` jus

[2020-10-27 17:41] sxalexander commented on #298
When integrating Algolia with a new Django project, this issue becomes a stumbling block.  Attempting to use both the Django integration and the latest python client is impossible.

To reproduce using `pipenv`

Pipfile
[code]

Install
[code]

[2020-11-24 11:06] chloelbn opened #302 "Containerize repository"
Add a Dockerfile and a guide to setup Docker for the repository

[2020-12-04 17:44] tkrugg commented on #287
Hey @chloelbn I've been spending sometime today on this topic, and was able to verify that the Django integration works correctly on 2.2 LTS.
I'd like to make sure I'm not missing any specifics features: is there somewhere a list of things I need to go through to make I'm not missing anything.

cc @algolia/api-clients-squad

[2020-12-07 17:47] pbx commented on #287
FWIW we're successfully running the latest version of this package under Django 2.2 at @masschallenge.

[2020-12-07 17:56] tkrugg commented on #287
thanks for confirming @pbx I guess the next step is just to update the test suite and close this issue :)

[2020-12-08 10:26] tkrugg commented on #296
Hi @dbinetti, thanks for reporting this issue. Are you able to provide a sample of the code you've used it on?

What I can say is that this decorator [has a test](https://github.com/algolia/algoliasearch-django/blob/ce9447c6a45749f55b48f27bb1c4d58710ce480a/tests/test_decorators.py#L16) that isn't failing when tested on python 3.6 and django 3.1: https://travis-ci.org/github/algolia/algoliasearch-d

[2020-12-08 11:58] dbinetti commented on #296
Been five months and I've left the project, so I'm afraid I can't help.  Closing.

[2020-12-08 11:58] #296 closed

[2020-12-24 20:40] baltamar3 commented on #24
from django.contrib.algoliasearch import AlgoliaIndex module no fount why?

[2021-01-08 11:08] #287 closed

[2021-01-15 15:20] #298 closed

[2021-01-22 07:08] augustosamame commented on #298
I see that this change has been merged, but when installing latest version of algoliasearch-django (1.7.3) I still get an old version of algoliasearch library (1.20.0)

Am I missing something?

[code]

[2021-01-22 14:54] chloelbn commented on #298
Hi @augustosamame , indeed it's an error on our part, the library is not ready yet to handle the v2 of the client. Sorry for the confusion

[2021-01-22 15:01] augustosamame commented on #298
I forked the library and changed the algoliasearch library versions in setup.py but now getting:

`ImportError: cannot import name 'AlgoliaException'`

with the 2.x algoliasearch library, so yeah it seems it's not compatible at all.

Is there any chance this will be fixed soon? We've completed our Django integration and now we find we cannot search!
The `raw_search` function doesn't seem to have t

[2021-01-26 13:12] tkrugg commented on #286
Hi @kasai-mitsuru that's a great point!
I see another problem with this API: it's disabling indexing over all the models whilst giving the illusion it's only affecting the scope it's encapsulating. This whole API should be re-engineered into something more flexible that can enable/disable indexing on specific registrations.

[2021-01-26 13:14] tkrugg commented on #300
Hi @watsonhaw5566 sounds like you just need to do it from your Algolia Dashboard.
Have you tried following theses steps ? https://www.algolia.com/doc/guides/managing-results/refine-results/sorting/how-to/creating-replicas/#using-the-dashboard

[2021-01-26 13:17] tkrugg commented on #295
Hey @dbinetti would you be able to show us the code you've used for registering the model?
Or even better, an example of projects I can use to reproduce the issue?

FTR, django 3.x is officially supported since our latest release: https://github.com/algolia/algoliasearch-django/releases/tag/1.7.3, we're in the process of updating our docs to reflect it.

[2021-01-26 13:18] #295 closed

[2021-01-26 13:58] tkrugg commented on #276
Hi @gregsadetsky that's a great point. This PR is addressing it https://github.com/algolia/algoliasearch-django/pull/305/files

[2021-01-26 18:17] tkrugg commented on #264
dup https://github.com/algolia/algoliasearch-django/issues/202

[2021-01-26 18:17] #264 closed

[2021-01-26 18:21] tkrugg commented on #15
dup https://github.com/algolia/algoliasearch-django/issues/202

[2021-01-26 18:21] #15 closed

[2021-01-28 01:55] watsonhaw5566 commented on #300
THanks，I solved the problem

[2021-02-01 12:51] tkrugg commented on #300
Glad you did @watsonhaw5566 I'll close this issue then.

[2021-02-01 12:51] #300 closed

[2021-02-02 10:24] nwarchitect opened #308 "algoliasearch v1.20.0 still targeted as a dependency"
- Django version: 3.1.1
- Algolia Django integration version: 1.7.3
- Algolia Client Version: 1.20.0
- Language Version: 3.8

### Description

Installing _algoliasearch-django_ in its latest version (1.7.3) will install _algoliasearch_ in its 1.20.0 version.
This version seems outdated and the API docs target v2.x.

I saw that the requirements.txt was updated to include the latest major version (h

[2021-02-16 12:59] tkrugg commented on #308
Hi @nwarchitect yes, my bad, there was a little bit more to do. Sorry about the confusion.
There is a ongoing PR #306 fixing this.

[2021-03-03 13:17] EnriqueSoria opened #309 "Auto indexing when related model is changed"
- Django version: _any_
- Algolia Django integration version: _any_
- Algolia Client Version: _any_
- Language Version: _any_

### Description
Is there a way to auto index when a related object is modified, or it has to be done manually (via post_save or something)?

For example:
[code]

In this example I would like to get `Product` indexed when I change one of it's `prices`.

[2021-03-05 10:42] tkrugg commented on #309
Hi @EnriqueSoria, that should work if you explicitly call `.save()` on both models.

[code]

This is simple enough, but if you don't want to uselessly trigger a request to your database, here is how to do it:

[code]

we should probably add a shortcut method, something along theses lines:

[code]

[2021-03-05 10:44] #309 closed

[2021-03-05 11:58] EnriqueSoria commented on #309
It would be great to add the option to define which models trigger a reindexation for an index

As for the shortcut method, can't we just use `save_record`?
[code]

[2021-03-09 11:30] tkrugg commented on #284
Hi @jaredmcdonald, sorry for the late reply. Indeed the aggregators should cover this. Thanks for filing the issue, I'm sure some will land on it and find it useful.
FTR, for now, the only way to perform multiple_queries  is via the client: https://www.algolia.com/doc/api-reference/api-methods/multiple-queries/#multiple-queries-and-send-extra-http-headers
I'll close the issue for now as dup of #27

[2021-03-09 11:30] #284 closed

[2021-03-09 11:32] tkrugg commented on #270
closing stalled issue. Feel free to reopen if you want to further discuss the matter.

[2021-03-09 11:32] #270 closed

[2021-03-09 11:44] tkrugg commented on #309
You are absolutely right. That should work perfectly.

[2021-03-09 11:47] tkrugg commented on #288
Hi @tusharsrivastava
IIUC, you have gathered your data to index into an SQL view and now want that data to automatically sync to your Algolia Index.

Django does not have support for SQL views. For this reason, `algoliasearch-django` cannot provide support for it.

You can of course [trick it into using a view by creating a fake model and quitly changing the migration files to create/delete the vi

[2021-03-09 11:47] #288 closed

[2021-03-12 13:58] #302 closed

[2021-04-01 13:05] macolo opened #312 "upon reindexing the main index overwrites its replica configurations - this behaviour should made configurable as it might be undesired"
- Django version: any
- Algolia Django integration version: any
- Algolia Client Version: any
- Language Version: any

### Description
upon reindexing the main index overwrites its replica configurations - this behaviour should made configurable as it might be undesired

### Steps To Reproduce
- set up an index on algolia.com
- create a replica, change its settings
- run the reindex command and th

[2021-05-31 08:52] tkrugg commented on #308
This is now fixed! @nwarchitect sorry for the delay.

[2021-05-31 08:52] #308 closed

[2021-05-31 15:04] tkrugg commented on #291
Hi @viperfx

We reindex to a temporary index instead of directly to the target index to avoid the situation where your target index is empty or half filled. We refer to this in our docs as [Atomic reindexing](https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/in-depth/asynchronicity-and-when-to-wait-for-tasks/#atomic-reindexing) or [Zero-downtime reindexing](htt

[2021-05-31 15:04] #291 closed

[2021-08-08 22:39] iamr0b0tx commented on #249
I had a similar issue trying to run tests that call the API while waiting synchronously. This was the solution I came up with

1. I create a custom `AlgoliaIndex` in the file `custom_algolia_index.py`  in my project directory.
[code]
2. I Used the `CustomAlgoliaIndex` to create my model Index in `index.py`
[code]
3. my `tests.py` file
[code]

[2021-09-28 11:48] awais786 opened #318 "which version start supporting django32"
Some one please tell me which version started supporting `django32`.
I am using algoliasearch-django==1.7.3 I want to check is there any major changes require to upgrade to 2.0.0 or it current version works with django32

[2021-10-14 08:10] sant527 opened #319 "Django algolia search: How to create search for multiple models"
In Django I have 4 different models

[code]

As per https://github.com/algolia/algoliasearch-django we have to register each model

[code]

This will create seperate index for each model.

In my case i want to have a search UI for all of them together and use the model as the facet.

eg:

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/TZGRV.png

So how to use multiple in

[2021-10-14 10:13] sant527 opened #320 "Unknown command: 'algolia_reindex'"
- Django version: 3.1
- Algolia Django integration version:  2.0.0 (algoliasearch-django)
- Algolia Client Version: 2.6.0 (algoliasearch)
- Language Version: 3.9 (python)

### Description
When i try:
[code]

### Steps To Reproduce

[2021-10-14 12:33] #320 closed

[2021-10-24 02:30] sant527 opened #321 "How to put several models in one index"
I want to put several modes in singel index. Then only i can make use of facets

like i have models for store, item etc

I want a single index for searching anything store or item.

So i want to add some `category` and put thesemodels in same index.

How can i do this

[2021-11-10 21:32] rgs258 commented on #285
WRDS will find value in this enhancement.

[2021-11-11 18:54] rgs258 commented on #285
I just found out that Wagtail has an Algolia backend: https://github.com/wagtail/wagtail-algolia-search.

With the rise in use of Wagtail CMS, It would seem there's good opportunity for Algolia and Torchbox (creators of Wagtail) to work together to improve this integration from both sides!

[2021-11-12 22:39] tkrugg commented on #285
We'd love that!

[2021-11-17 15:12] tkrugg commented on #319
I'll close this issue. Happy to investigate this again after you elaborate on the problem you're facing with my approach. Feel free to reopen then.

[2021-11-17 15:12] #319 closed

[2022-01-20 13:49] ademidun opened #322 "Preserve field names after preprocessing a field"
The [Algolia Field Preprocessing example](https://www.algolia.com/doc/framework-integration/django/options/?client=python#field-preprocessing-and-related-objects) says that we can define a custom method if we want to preproces a field.

Similar issue: https://github.com/algolia/algoliasearch-django/issues/2

This allows the ManyToMany field `accounts` to be saved as a JSON serializable searchable

[2022-04-09 16:22] ademidun opened #323 "Support Multiple Algolia applications in one Django project"
### Description

I would like to index my models into two separate applications that have different `APPLICATION_ID` and `API_KEY`.

Ideally, I would like to be able to override the default settings on a per-model basis while preserving the native register and hooks integration.

- Django version: 1.11
- Algolia Django integration version: 2.0.0
- Algolia Client Version: 2.6.1
- Language Version:

[2022-05-02 09:50] fab10m opened #324 "Mapping Django and Algolia fields name"
- Django version: 3.2
- Algolia Django integration version: 2.0.0
- Language Version: 3.9.4

### Description
I found from the source code (models.py) that the property AlgoliaIndex.fields can receive also list or tuple with the elements 'attr' (Django field/method name) and 'field' (Algolia field name). But I didn't find any trace in the documentation. Can I consider this kind of use stable? Is it

[2022-05-12 09:54] francois-travais commented on #271
I would also need this one. Is there any plan to do something about it?